{% extends "base.html" %}

{% block title %}
	Dashboard
{% endblock title %}

{% block content %}
	{% include "components/header.html" %}

	<section class="main_info">
		<div class="my-container">
			<div class="row main_info__data">
				<div class="col s3">
					<div class="card-info card1">
						<h4>Capital USD</h4>
						<div class="card-info__money">
							<span>$</span>
							<span>126,423.00</span>
						</div>
					</div>
					<div class="card_panel__update">
						<div class="valign-wrapper card-info__updated card1_dark">
							<h5 class="valign">Último movimiento: 20/07/2016 10:30 AM</h5>
						</div>
					</div>
				</div>
				<div class="col s3">
					<div class="card-info card2">
						<h4>Capital MXN</h4>
						<div class="card-info__money">
							<span>$</span>
							<span>126,423.00</span>
						</div>
					</div>
					<div class="card_panel__update card2_dark">
						<div class="valign-wrapper card-info__updated">
							<h5 class="valign">Último movimiento: 20/07/2016 10:30 AM</h5>
						</div>
					</div>
				</div>
				<div class="col s3">
					<div class="card-info card3">
						<h4>Gastos USD</h4>
						<div class="card-info__money">
							<span>$</span>
							<span>126,423.00</span>
						</div>
					</div>
					<div class="card_panel__update card3_dark">
						<div class="valign-wrapper card-info__updated">
							<h5 class="valign">Último movimiento: 20/07/2016 10:30 AM</h5>
						</div>
					</div>
				</div>
				<div class="col s3">
					<div class="card-info card4">
						<h4>Gastos USD</h4>
						<div class="card-info__money">
							<span>$</span>
							<span>126,423.00</span>
						</div>
					</div>
					<div class="card_panel__update card4_dark">
						<div class="valign-wrapper card-info__updated">
							<h5 class="valign">Último movimiento: 20/07/2016 10:30 AM</h5>
						</div>
					</div>
				</div>
				<div class="col s3">
					<div class="card-info card5">
						<h4>Gastos USD</h4>
						<div class="card-info__money">
							<span>$</span>
							<span>126,423.00</span>
						</div>
					</div>
					<div class="card_panel__update card5_dark">
						<div class="valign-wrapper card-info__updated">
							<h5 class="valign">Último movimiento: 20/07/2016 10:30 AM</h5>
						</div>
					</div>
				</div>
				<div class="col s3">
					<div class="card-info card6">
						<h4>Gastos USD</h4>
						<div class="card-info__money">
							<span>$</span>
							<span>126,423.00</span>
						</div>
					</div>
					<div class="card_panel__update card6_dark">
						<div class="valign-wrapper card-info__updated">
							<h5 class="valign">Último movimiento: 20/07/2016 10:30 AM</h5>
						</div>
					</div>
				</div>
				<div class="col s3">
					<div class="card-info card7">
						<h4>Gastos USD</h4>
						<div class="card-info__money">
							<span>$</span>
							<span>126,423.00</span>
						</div>
					</div>
					<div class="card_panel__update card7_dark">
						<div class="valign-wrapper card-info__updated">
							<h5 class="valign">Último movimiento: 20/07/2016 10:30 AM</h5>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12">
					<div class="panel">
						<div class="panel__header">
							Gastos
						</div>
						<div class="panel__body">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. At deleniti non natus magnam saepe ipsam nisi expedita facilis tempora fuga architecto, laboriosam ut eveniet aut possimus illum dicta ullam mollitia?
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis distinctio vel debitis placeat dignissimos voluptatem hic, sed deleniti molestiae tenetur aperiam porro dolores vero ex odit eius adipisci consequuntur libero!
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quisquam voluptate, culpa odio, assumenda cupiditate alias quibusdam. Vero modi hic, commodi placeat sequi veniam deserunt molestiae iure, tenetur rem nemo.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam magnam dignissimos adipisci vitae sint repellendus mollitia dolore, amet doloribus. Recusandae quae cumque omnis hic odit tempora blanditiis, facere eum laudantium.
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12">
					<div class="panel">
						<div class="panel__header">
							Saldo por embarque
						</div>
						<div class="panel__body">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. At deleniti non natus magnam saepe ipsam nisi expedita facilis tempora fuga architecto, laboriosam ut eveniet aut possimus illum dicta ullam mollitia?
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis distinctio vel debitis placeat dignissimos voluptatem hic, sed deleniti molestiae tenetur aperiam porro dolores vero ex odit eius adipisci consequuntur libero!
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quisquam voluptate, culpa odio, assumenda cupiditate alias quibusdam. Vero modi hic, commodi placeat sequi veniam deserunt molestiae iure, tenetur rem nemo.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam magnam dignissimos adipisci vitae sint repellendus mollitia dolore, amet doloribus. Recusandae quae cumque omnis hic odit tempora blanditiis, facere eum laudantium.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}