{% extends "base.html" %}
{% load humanize %}
{% block title %}
	Dashboard
{% endblock title %}

{% block content %}
	{% include "components/header.html" %}

	<section class="main_info">
		<div class="my-container">
			<div class="row main_info__data">
				<div class="col s3">
					<div class="card-info card1">
						<h4>Capital USD</h4>
						<div class="card-info__money">
							<span>$</span>
							<span>{{ dolar.amount }}</span><!-- DOLARES INICIAL -->
						</div>
					</div>
					<div class="card_panel__update">
						<div class="valign-wrapper card-info__updated card1_dark">
							<h5 class="valign">Último movimiento: 
								{% if not last_movement_dolar %}
									Aún no tenemos movimientos
								{% else %}
									{{ last_movement_dolar.created_at|naturaltime }}
								{% endif %}
							</h5>

						</div>
					</div>
				</div>
				<div class="col s3">
					<div class="card-info card2">
						<h4>Capital MXN</h4>
						<div class="card-info__money">
							<span>$</span>
							<span>{{ pesos.amount }}</span> <!-- PESOS INICIAL -->
						</div>
					</div>
					<div class="card_panel__update card2_dark">
						<div class="valign-wrapper card-info__updated">
							<h5 class="valign">Último movimiento: 
								{% if not last_movement_pesos %}
									Aún no tenemos movimientos
								{% else %}
									{{ last_movement_pesos.created_at|naturaltime }}
								{% endif %}
							</h5>
						</div>
					</div>
				</div>
				<div class="col s3">
					<div class="card-info card3">
						<h4>Retiros USD</h4>
						<div class="card-info__money">
							<span>$</span>
							<span>{{ retiro_dolar }}</span>
						</div>
					</div>
					<div class="card_panel__update card3_dark">
						<div class="valign-wrapper card-info__updated">
							<h5 class="valign">Último movimiento: 
								{% if not last_retiro_dolar %}
									Aún no tenemos movimientos
								{% else %}
									{{ last_retiro_dolar.created_at|naturaltime }}
								{% endif %}
							</h5>
						</div>
					</div>
				</div>
				<div class="col s3">
					<div class="card-info card4">
						<h4>Retiros MXN</h4>
						<div class="card-info__money">
							<span>$</span>
							<span>{{ retiro_pesos }}</span>
						</div>
					</div>
					<div class="card_panel__update card4_dark">
						<div class="valign-wrapper card-info__updated">
							<h5 class="valign">Último movimiento: 
								{% if not last_retiro_pesos %}
									Aún no tenemos movimientos
								{% else %}
									{{ last_retiro_pesos.created_at|naturaltime }}
								{% endif %}
							</h5>
						</div>
					</div>
				</div>
				<div class="col s3">
					<div class="card-info card5">
						<h4>Embarques USD</h4>
						<div class="card-info__money">
							<span>$</span>
							<span>{{ embarque_total }}</span>
						</div>
					</div>
					<div class="card_panel__update card5_dark">
						<div class="valign-wrapper card-info__updated">
							<h5 class="valign">Último movimiento:
								{% if not last_embarque %}
									Aún no tenemos movimientos
								{% else %}
									{{ last_embarque.created_at|naturaltime }}
								{% endif %}
							</h5>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12">
					<div class="panel">
						{% if no_movements %}
							<div class="panel__body">
								<div class="row">
									<div class="col s12">
										<div class="panel__body__description">
											No se encontraron movimientos
										</div>
									</div>
								</div>
							</div>
						{% else %}
								<div class="panel__body">
									<div class="row">
										<div class="col s12">
											<div class="panel__body__description">
												Movimientos en Dolares
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col s12">
											<div class="panel__body__table">
												<div class="row table__titles">
													<div class="col s1">Nº</div>
													<div class="col s2">Movimiento</div>
													<div class="col s2">Fecha</div>
													<div class="col s3">Descripción</div>
													<div class="col s2">Cantidad</div>
													<div class="col s2">Detalle</div>
												</div>
												{% for movement in dolar_movements %}
													<div class="row">
														<div class="col s1">{{ forloop.counter }}</div>
														<div class="col s2">{{ movement.kind_mov.name}}</div>
														<div class="col s2">{{ movement.created_at|date:"d/M/Y" }}</div>
														<div class="col s3">{{ movement.description }}</div>
														<div class="col s2">{{ movement.amount }}</div>
														<div class="col s2">
															<a href="{% url 'users:movement_detail' movement.id %}" class="movement__image_link" id="photo_link">Ver detalle</a>
														</div>
													</div>
												{% endfor %}
												<div class="row">
													<div class="col s1"></div>
													<div class="col s2"></div>
													<div class="col s2"></div>
												 	<div class="col s3"><b>Total Abonos</b></div>
													<div class="col s2">{{ total_abono_dolar }}</div>
													<div class="col s2"></div>
												</div>
												<div class="row">
													<div class="col s1"></div>
													<div class="col s2"></div>
													<div class="col s2"></div>
													<div class="col s3"><b>Total Cargos</b></div>
													<div class="col s2">{{ total_cargos_dolar }}</div>
													<div class="col s2"></div>
												</div>
												<div class="row">
													<div class="col s1"></div>
													<div class="col s2"></div>
													<div class="col s2"></div>
													<div class="col s3"><b>Total Retiro</b></div>
													<div class="col s2">{{ total_retiro_dolar }}</div>
													<div class="col s2"></div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="panel__body">
									<div class="row">
										<div class="col s12">
											<div class="panel__body__description">
												Movimientos en Pesos
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col s12">
											<div class="panel__body__table">
												<div class="row table__titles">
													<div class="col s1">Nº</div>
													<div class="col s2">Movimiento</div>
													<div class="col s2">Fecha</div>
													<div class="col s3">Descripción</div>
													<div class="col s2">Cantidad</div>
													<div class="col s2">Comprobante</div>
												</div>
												{% for movement in pesos_movements %}
													<div class="row">
														<div class="col s1">{{ forloop.counter }}</div>
														<div class="col s2">{{ movement.kind_mov.name}}</div>
														<div class="col s2">{{ movement.created_at|date:"d/M/Y" }}</div>
														<div class="col s3">{{ movement.description }}</div>
														<div class="col s2">{{ movement.amount }}</div>
														<div class="col s2">
															<a href="{% url 'users:movement_detail' movement.id %}" class="movement__image_link" id="photo_link">Ver detalle</a>
														</div>
													</div>
												{% endfor %}
												<div class="row">
													<div class="col s1"></div>
													<div class="col s2"></div>
													<div class="col s2"></div>
												 	<div class="col s3"><b>Total Abonos</b></div>
													<div class="col s2">{{ total_abono_pesos }}</div>
													<div class="col s2"></div>
												</div>
												<div class="row">
													<div class="col s1"></div>
													<div class="col s2"></div>
													<div class="col s2"></div>
													<div class="col s3"><b>Total Cargos</b></div>
													<div class="col s2">{{ total_cargos_pesos }}</div>
													<div class="col s2"></div>
												</div>
												<div class="row">
													<div class="col s1"></div>
													<div class="col s2"></div>
													<div class="col s2"></div>
													<div class="col s3"><b>Total Retiro</b></div>
													<div class="col s2">{{ total_retiro_pesos }}</div>
													<div class="col s2"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
						{% endif %}
					</div>
					<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
						<a class="btn-floating btn-large red">
							<i class="large material-icons">mode_edit</i>
						</a>
						<ul>
							<!--<li>
								<a class="btn-floating green" href="#"><i class="material-icons">publish</i>
								</a>
							</li>-->
							<li>
								<a class="btn-floating blue" href="{% url 'users:create_movement' %}"><i class="material-icons">add</i></a>
							</li>
						</ul>
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block scripts %}
<script>
	// using jQuery
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');

	function csrfSafeMethod(method) {
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    }
	});

	var formdata = new FormData(); 
	$('.inputfile').on('change', function() {
		console.log(this);
		var id = this.dataset.id;
		console.log(id);
		// var file = this.files[0];
		// if (formdata) {
		// 	formdata.append("image", file);
		// 	$.ajax({
		// 		url: '/movimiento/agregar-imagen/' + id + '/',
		// 		type: "POST",
		// 		data: formdata,
		// 		processData: false,
  //       contentType: false,
  //       success: function (data) {
  //       	location.reload();
  //       }
		// 	});
		// }
	});
</script>
{% endblock %}