$color_text: #212121;
$black: #000000;
$white: #ffffff;
$background: #ECEFF1;
$color_facebook: #3B5998;
$header: #0277BD;
$bg_card1: #2095F2;
$bg_card2: #4BAE4F;
$bg_card3: #9b26af;
$bg_card4: #00bbd3;
$bg_card5: #ccdb38;
$bg_card6: #009587;
$bg_card7: #02a8f3;
