$color_text: #212121;
$black: #000000;
$white: #ffffff;
$background: #ECEFF1;
$color_facebook: #3B5998;
$header: #0277BD;
$bg_card1: #2095F2;
$bg_card1_dark: #0e89eb;

$bg_card2: #4BAE4F;
$bg_card2_dark: #439c47;

$bg_card3: #9b26af;
$bg_card3_dark: #88219a;

$bg_card4: #00bbd3;
$bg_card4_dark: #00a4ba;

$bg_card5: #ccdb38;
$bg_card5_dark: #c3d326;

$bg_card6: #009587;
$bg_card6_dark: #007c70;

$bg_card7: #02a8f3;
$bg_card7_dark: #0297da;

