@import './_typography.scss';
@import './_color.scss';

body, h1, h2, h3, h4, li, ul, ol, img, p {
	margin: 0;
	padding: 0;
}

.my-container {
	max-width: 1100px;
	margin: 0 auto;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.hidden {
	display: none;
}

.bold {
	font-weight: bold;
}
.errorlist {
	color: #ef5350;
}

.header__title {
	font-size: 1.2em;
	a {
		color: $white;
	}
}

.circle {
	padding: .5em;
	background: $background;
}

/* GET EMAIL PAGE */
.wellcome__email {
	width: 28em;
	height: 28em;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
}

.wellcome__personal_info {
	img {
		width: 5em;
		height: 5em;
		border-radius: 50%;
	}

	.wellcome__personal_info__name {
		margin: .5em;
		font-size: $size-big;
	}
}

.subtitle {
	margin-bottom: 2em;
}
.wellcome_email_btn {
	margin-top: 1em;
}
/* END GET EMAIL PAGE */

/* HOME PAGE */
.wellcome {
	width: 28em;
	height: 28em;
	background: $background;
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	padding-top: 10em;
}

.wellcome__title {
	font-size: $size_big;
	color: $color_text;
	padding-bottom: 2em;
}

.wellcome__btn_facebook {
	background: $color_facebook;
	color: $white;
	font-size: $size-middle;
	border-radius: 3px;
	padding: .8em 3em;
}
/* END HOME PAGE */

/* DASHBOARD */
.header {
	color: $white;
	background: $header;
	padding: 1.1em;
}

.main_info__data {
	margin: 2em 0;
}

.card_panel__update {
	margin: 0;
	background: $bg_card1_dark;
	padding: .4em 2em;
}

.card-info__updated {
	h5 {
		font-size: $size-small;
		color: $white;
	}
}

.profile {
	justify-content: flex-end;
	.profile__nofiticacion {
		width: 1.5em;
	}
}

.image-profile {
	width: 2em;
	height: 2em;
	border-radius: 50%;
	margin: 0 .7em;
}

.main_info {
	background: $background;
	padding: 1em;
}

.card-info {
	padding: 1.8em;
	margin-top: .7em;
	margin-bottom: 0;
}

.card-info {
	h4 {
		font-size: $size_big;
		color: rgba($white, .54);
	}
}

.card-info__money {
	color: $white;
	font-size: $size-big;
	margin-top: .7em;
}

.card1 {
	background: $bg_card1;
}
.card1_dark {
	background: $bg_card1_dark;
}
.card2 {
	background: $bg_card2;
}
.card2_dark {
	background: $bg_card2_dark;
}
.card3 {
	background: $bg_card3;
}
.card3_dark {
	background: $bg_card3_dark;
}
.card4 {
	background: $bg_card4;
}
.card4_dark {
	background: $bg_card4_dark;
}
.card5 {
	background: $bg_card5;
}
.card5_dark {
	background: $bg_card5_dark;
}
.card6 {
	background: $bg_card6;
}
.card6_dark {
	background: $bg_card6_dark;
}
.card7 {
	background: $bg_card7;
}
.card7_dark {
	background: $bg_card7_dark;
}

.panel {
	background: $white;
}

.panel__header {
	font-weight: bold;
	padding: 1em 2em;
	color: rgba($black, .57);
	border-bottom: 1px solid #f0f0f0;
}

.panel__body {
	padding: 1em 2em;
}
/* END DASHBOARD */

/* ALMANCEN */

.panel__header__money {
	font-size: $size-huge;
	font-weight: 300;
}

.table__titles {
	font-weight: bold;
	font-size: $size-middle;
}

/* END ALMACEN */

/* CREAR MOVIMIENTO */
.form-width {
	margin: 0 auto;
	max-width: 500px;
}