{% extends "base.html" %}

{% load humanize %}
{% block title %}
	Almacén
{% endblock title %}

{% block content %}
	{% include "components/header.html" %}

	<section class="main_info">
		<div class="my-container">
			<div class="row main_info__data">
				<div class="col s12 m6 l6">
					<div class="card-info card1">
						<h4>Saldo deudor USD</h4>
						<div class="card-info__money">
							<span>$</span>
							<span>{{ saldo_deudor }}</span>
						</div>
					</div>
					<div class="card_panel__update">
						<div class="valign-wrapper card-info__updated card1_dark">
							<h5 class="valign">Último movimiento: 
								{% if not last_movement %}
									Aún no tenemos movimientos
								{% else %}
									{{ last_movement.created_at|naturaltime }}
								{% endif %}
							</h5>
							<!-- Ultimo movimiento cualquiera -->
						</div>
					</div>
				</div>
				<div class="col s12 m6 l6">
					<div class="card-info card3">
						<h4>Gastos USD</h4>
						<div class="card-info__money">
							<span>$</span>
							<span>{{ gastos }}</span>
						</div>
					</div>
					<div class="card_panel__update card3_dark">
						<div class="valign-wrapper card-info__updated">
							<h5 class="valign">Último movimiento:
							{% if not last_charge %}
								Aún no tenemos movimientos
							{% else %}
								{{ last_charge.created_at|naturaltime }}
							{% endif %}
							</h5>
							<!-- Ultimo movimiento solo cargos -->
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12">
					<div class="panel">
						<div class="panel__header panel__filter grey lighten-5">
							<div class="row no-margin-bottom valign-wrapper panel__filter__weigth">
								<div class="col s4 m4 l8 valign-wrapper">
									<div class="panel__header__title valign">Filtros</div>
								</div>
								<div class="col s8 m8 l4 valign-wrapper">
									<div class="input-field col s12">
										<form method="GET">
											<input id="search_mov" name="search" placeholder="Buscar" type="text" />
										</form>
									</div>
								</div>
							</div>
						</div>
						{% if no_shipments %}
							<div class="panel__body">
								<div class="row">
									<div class="col s12">
										<div class="panel__body__description">
											No se encontraron embarques
										</div>
									</div>
								</div>
							</div>
						{% else %}
							{% for shipment, movements in sorted_movements %}
								<div class="panel__body">
									<div class="row">
										<div class="col s12">
											<div class="panel__body__description">
												Embarque: {{ shipment.name }} Fecha: 24/Jul/2016 Importe del Embarque: ${{ shipment.amount }}
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col s12">
											<div class="panel__body__table">
												<div class="row table__titles">
													<div class="col s1">Nº</div>
													<div class="col s2">Movimiento</div>
													<div class="col s2">Fecha</div>
													<div class="col s3">Descripción</div>
													<div class="col s2">Cantidad</div>
													<div class="col s2">Comprobante</div>
												</div>
												{% for movement in movements %}
													<div class="row">
														<div class="col s1">{{ forloop.counter }}</div>
														<div class="col s2">{{ movement.kind_mov.name}}</div>
														<div class="col s2">{{ movement.created_at|date:"d/M/Y" }}</div>
														<div class="col s3">{{ movement.description }}</div>
														<div class="col s2">{{ movement.amount }}</div>
														<div class="col s2">
															<a href="{{ movement.image.url }}" class="movement__image_link" id="photo_link">Ver</a>
															<input type="file" name="file" id="changed" class="changeFile" data-id="{{ movement.id }}" />
															<label for="changed">Cambiar</label>
														</div>
													</div>
												{% endfor %}
												<div class="row">
													<div class="col s1"></div>
													<div class="col s2"></div>
													<div class="col s2"></div>
												 	<div class="col s3"><b>Total Abonos</b></div>
													<div class="col s2">{{ shipment.total_abono }}</div>
													<div class="col s2"></div>
												</div>
												<div class="row">
													<div class="col s1"></div>
													<div class="col s2"></div>
													<div class="col s2"></div>
													<div class="col s3"><b>Total Cargos</b></div>
													<div class="col s2">{{ shipment.total_charge }}</div>
													<div class="col s2"></div>
												</div>
												<div class="row">
													<div class="col s1"></div>
													<div class="col s2"></div>
													<div class="col s2"></div>
													<div class="col s3"><b>Saldo</b></div>
													<div class="col s2">{{ shipment.saldo }}</div>
													<div class="col s2"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
						<a class="btn-floating btn-large red">
							<i class="large material-icons">mode_edit</i>
						</a>
						<ul>
							<li>
								<a class="btn-floating green {% if not has_shipments %}disabled{% endif %}" href="{% if not has_shipments %}#{% else %}{% url 'stores:dashboard_export' %}{% endif %}" target='{% if has_shipments %}_blank{% endif %}' ><i class="material-icons">publish</i>
								</a>
							</li>
							<li>
								<a class="btn-floating blue {% if not has_shipments %}disabled{% endif %}" href="{% if not has_shipments %}#{% else %}{% url 'stores:create_store' %}{% endif %}"><i class="material-icons">add</i></a>
							</li>
						</ul>
					</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}

{% block scripts %}
<script>
	// using jQuery
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');

	function csrfSafeMethod(method) {
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    }
	});

	var formdata = new FormData(); 
	$('.changeFile').on('change', function() {
		var file = this.files[0];
		var id = this.dataset.id;
		if (formdata) {
			formdata.append("image", file);
			$.ajax({
				url: '/movimiento/agregar-imagen/' + id + '/',
				type: "POST",
				data: formdata,
				processData: false,
        contentType: false,
        success: function (data) {
        	$('#file').remove();
    			$('#photo_link').attr("href", data.image_url);
        	Materialize.toast('Se guardó el comprobante', 3000, 'rounded');
        }
			});
		}
	});
</script>
{% endblock %}

