body, h1, h2, h3, h4, li, ul, ol, img, p {
  margin: 0;
  padding: 0; }

.my-container {
  max-width: 1100px;
  margin: 0 auto; }

.no-margin-bottom {
  margin-bottom: 0; }

.hidden {
  display: none; }

.bold {
  font-weight: bold; }

.errorlist {
  color: #ef5350; }

.header__title {
  font-size: 1.2em; }
  .header__title a {
    color: #ffffff; }

.header__option li a {
  color: #000000; }

.circle {
  padding: .5em;
  background: #ECEFF1; }

.btn-comprobante {
  font-size: 0.8em;
  height: 3em;
  line-height: 0;
  padding: 0 1rem;
  text-transform: none; }

.panel__filter {
  border: none; }

.panel__filter__weigth {
  font-weight: 300; }

/* GET EMAIL PAGE */
.wellcome__email {
  width: 28em;
  height: 28em;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center; }

.wellcome__personal_info img {
  width: 5em;
  height: 5em;
  border-radius: 50%; }
.wellcome__personal_info .wellcome__personal_info__name {
  margin: .5em;
  font-size: 1.4em; }

.subtitle {
  margin-bottom: 2em; }

.wellcome_email_btn {
  margin-top: 1em; }

/* END GET EMAIL PAGE */
/* HOME PAGE */
.wellcome {
  width: 28em;
  height: 28em;
  background: #ECEFF1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  padding-top: 10em; }

.wellcome__title {
  font-size: 1.4em;
  color: #212121;
  padding-bottom: 2em; }

.wellcome__btn_facebook {
  background: #3B5998;
  color: #ffffff;
  font-size: 1em;
  border-radius: 3px;
  padding: .8em 3em; }

/* END HOME PAGE */
/* DASHBOARD */
.header {
  color: #ffffff;
  background: #0277BD;
  padding: 1.1em; }

.main_info__data {
  margin: 2em 0; }

.card_panel__update {
  margin: 0;
  background: #0e89eb;
  padding: .4em 2em; }

.card-info__updated h5 {
  font-size: 0.8em;
  color: #ffffff; }

.profile {
  justify-content: flex-end; }
  .profile .profile__nofiticacion {
    width: 1.5em; }
  .profile a {
    color: white; }

.image-profile {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin: 0 .7em; }

.main_info {
  background: #ECEFF1;
  padding: 1em; }

.card-info {
  padding: 1.8em;
  margin-top: .7em;
  margin-bottom: 0; }

.card-info h4 {
  font-size: 1.4em;
  color: rgba(255, 255, 255, 0.54); }

.card-info__money {
  color: #ffffff;
  font-size: 1.4em;
  margin-top: .7em; }

.card1 {
  background: #2095F2; }

.card1_dark {
  background: #0e89eb; }

.card2 {
  background: #4BAE4F; }

.card2_dark {
  background: #439c47; }

.card3 {
  background: #9b26af; }

.card3_dark {
  background: #88219a; }

.card4 {
  background: #00bbd3; }

.card4_dark {
  background: #00a4ba; }

.card5 {
  background: #ccdb38; }

.card5_dark {
  background: #c3d326; }

.card6 {
  background: #009587; }

.card6_dark {
  background: #007c70; }

.card7 {
  background: #02a8f3; }

.card7_dark {
  background: #0297da; }

.panel {
  background: #ffffff; }

.panel__header {
  font-weight: bold;
  padding: 1em 2em;
  color: rgba(0, 0, 0, 0.57);
  border-bottom: 1px solid #f0f0f0; }

.panel__body {
  padding: 1em 2em; }

/* END DASHBOARD */
/* ALMANCEN */
.panel__header__money {
  font-size: 1.6em;
  font-weight: 300; }

.table__titles {
  font-weight: bold;
  font-size: 1em; }

/* END ALMACEN */
/* CREAR MOVIMIENTO */
.form-width {
  margin: 0 auto;
  max-width: 500px; }

/*# sourceMappingURL=main.css.map */
