{% load static from staticfiles %}
<header class="header">
  <ul id="dropdown1" class="dropdown-content header__option">
    <li><a href="/perfil/">Perfil</a></li>
    <li><a href="/salir/">Salir</a></li>
  </ul>
  <div class="my-container">
    <div class="valign-wrapper row no-margin-bottom">
      <div class="col s3 m6 l8 valign">
        <span class="header__title"><a href="{% url 'users:dashboard' %}">Osef</a></span>
      </div>
      <div class="col s9 m6 l4 profile valign-wrapper">
        <a class="dropdown-button notification {% if not has_notifications %}grey{% endif %}" href="#!" data-activates="dropdown2">{{ number_of_notifications }}<i class="mdi-navigation-arrow-drop-down right"></i></a>
        {% if has_notifications %}
          <ul id="dropdown2" class="dropdown-content my-dropdown">
          	{% for notification in notifications %}
            	<li>
								{% if user.kind == 'socio' %}
									<a href="{% url 'users:notifications' notification.id %}">{{ notification.description }} de {{ notification.sender.get_full_name }}<span class="new badge"></span></a>
								{% endif %}
								{% if user.kind == 'almacen' %}
									<a href="{% url 'stores:notifications' notification.id %}">{{ notification.description }}<span class="new badge"></span></a>
								{% endif %}
            	</li>
          	{% endfor %}
          </ul>
        {% endif %}
        {% if user.photo %}
          <a href="{% url 'users:profile' %}"><img class="image-profile valign" src="{{ MEDIA_URL }}{{ user.photo }}"></a>
        {% elif user.url_photo %}
          <a href="{% url 'users:profile' %}"><img class="image-profile valign" src="{{ user.url_photo }}"></a>
        {% else %}
          <a href="{% url 'users:profile' %}"><span class="image-profile circle">{{ user.first_name|first|upper }}{{ user.last_name|first|upper }}</span></a>
        {% endif %}
        <a class="dropdown-button" href="#!" data-activates="dropdown1">{{ user.get_full_name }}<i class="material-icons right">arrow_drop_down</i></a></li>
      </div>
    </div>
  </div>
</header>
